body {
  display: block;
  margin: 0;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 46, 48);
  color: antiquewhite;
}

.main-header {
  margin: auto;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 480px 480px 480px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  margin: auto;
  justify-content: center;
}

.portfolio-grid img {
  width: 100%;
  aspect-ratio: 4/5;
  box-shadow: 5px 5px 20px;
}

@media (max-width: 1440px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: auto;
    justify-content: center;
  }
  .portfolio-grid img {
    width: 100%;
    aspect-ratio: 4/5;
    grid-column: auto;
    grid-row: auto;
    box-shadow: 5px 5px 20px;
  }
}

@media (max-width: 763px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: auto;
    justify-content: center;
  }
  .portfolio-grid img {
    width: 100%;
    aspect-ratio: 4/5;
    grid-column: auto;
    grid-row: auto;
    box-shadow: 5px 5px 20px;
  }
}

img[alt="profile-pic"] {
  max-width: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 50px;
  border: solid 4px antiquewhite;
}
.logo-intro {
  display: flex;
  flex-direction: row;
}

.book-me-div {
  display: block;
  align-items: center;
  text-align: center;
}
.book-me {
  margin-top: 20px;
  padding: 10px 20px;
  align-items: center;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.messsage-row {
  align-items: flex-start;
}
#contact-us label {
  width: 90px;
  flex-shrink: 0;
}

.about-me {
  text-align: center;
}

.about-me p {
  margin-bottom: 100px;
}
footer {
  background-color: rgb(43, 46, 48);
  border-top: solid 2px antiquewhite;
  color: antiquewhite;
  margin: 0;
}
.send-message {
  display: block;
  padding: 0 10px;
  margin-left: 90px;
}
